:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: inherit; */
  background-color: #FBF9EF;

}

/* a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #00800080;
} */

body { 
  margin: 0;
  padding: 0;
}
